<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Work Area</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header th:insert="sections/header :: header"></header>

<div class="container">
    <h2>Admin Work Area</h2>

    <table id="adminTable">
        <tbody>
        <tr>
            <td class="managementTitle">User Management:</td>
            <td class="buttonContainer">
                <form action="/admin/createUserFromAdmin" method="GET">
                    <button type="submit" class="button_full_width">Register</button>
                </form>
                <form action="/admin/usersList" method="GET">
                    <button type="submit" class="button_full_width">Edit / Delete</button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="managementTitle">Product Management:</td>
            <td class="buttonContainer">
                <form action="/admin/manageCategories" method="GET">
                    <button type="submit" class="button_full_width">Categories</button>
                </form>
                <form action="/admin/manageBrands" method="GET">
                    <button type="submit" class="button_full_width">Brands</button>
                </form>
                <form action="/admin/manageProducts" method="GET">
                    <button type="submit" class="button_full_width">Products</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<footer th:replace="sections/footer :: footer"></footer>

</body>
</html>
