<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Brand Management</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header th:insert="sections/header :: header"></header>

<div class="container">
    <h2>Brand Management</h2>

    <form action="/admin/createBrand" method="GET">
        <button type="submit">Add New Brand</button>
    </form>

    <table id="brandsListTable">
        <thead>
        <tr>
            <th>#</th>
            <th>Brand Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="brand, iterStat : ${brands}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${brand.name}"></td>
            <td class="buttonContainer">
                <form action="/admin/editBrand" method="GET">
                    <input type="hidden" name="brandId" th:value="${brand.id}"/>
                    <button type="submit" class="button_full_width">Edit</button>
                </form>
                <form action="/admin/deleteBrand" method="POST">
                    <input type="hidden" name="brandId" th:value="${brand.id}"/>
                    <button type="submit" class="button_full_width">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="sections/footer :: footer"></footer>

</body>
</html>