<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Brand</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header th:insert="sections/header :: header"></header>

<div class="container">
    <h2>Edit Brand</h2>

    <form action="/admin/updateBrand" method="POST">
        <input type="hidden" name="brandId" th:value="${brand.id}"/>
        <div>
            <label for="brandName">Brand Name:</label>
            <input type="text" id="brandName" name="brandName" th:value="${brand.name}" required/>
        </div>
        <button type="submit" class="button_full_width">Save Changes</button>

        <input type="button" class="button_full_width" value="Cancel" onclick="window.location.href='/admin/manageBrands';"/>
    </form>
</div>

<footer th:replace="sections/footer :: footer"></footer>

</body>
</html>