<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header th:insert="sections/header :: header"></header>

<div class="container">
    <h2>User Profile</h2>

    <form action="/user/updateUser" method="GET">
        <button type="submit">Update Personal Information</button>
    </form>

    <h3>Order History:</h3>

    <table id="ordersListTable">
        <thead>
        <tr>
            <th>N</th>
            <th>Products</th>
            <th>Total Amount</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td class="product-name-vertical">
                <ul>
                    <li th:each="detail : ${orderDetails}"
                        th:if="${detail.order.id} == ${order.id}"
                        th:text="${detail.product.name}" class="product-name-vertical-item"></li>
                </ul>
            </td>
            <td th:text="${order.totalAmount}"></td>
            <td th:text="${order.orderStatus}"></td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:insert="sections/footer :: footer"></footer>
</body>
</html>
