nav, footer {
    padding: 10px 25px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

nav {
    border-bottom: 2px solid RGB(150, 140, 150);
}

footer {
    border-top: 2px solid RGB(150, 140, 150);
}

.nav_div_left, .nav_div_right {
    display: flex;
    margin: 0;
}

.nav_div_right {
    text-align: right;
}

.button_right {
display: block;
margin-left: auto;
text-align: right;
}

.navbar-brand h3 {
    font-size: 1.5rem;
    margin: 0;
    color: RGB(150, 140, 150);
}

body {
    background-color: white;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: auto;
    padding: 20px;
    max-width: 1200px;
}

.formTable {
    width: 500px;
}

.formTable td:first-child {
    width: 25%;
}

.formTable td:nth-child(2) {
    width: 75%;
}

#deleteUser, #cancel {
    margin-right: 10px;
}

.button_full_width {
    width: 100%;
    padding: 10px;
    background-color: #607D8B;
    color: #fff;
    border: 1px solid RGB(150, 140, 150);
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    margin: 5px 0;
    text-align: center;
}

.button_full_width:hover {
    background-color: #455A64;
}

#adminTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#adminTable td {
    padding: 10px;
    vertical-align: top;
}

#adminTable .buttonContainer {
    display: flex;
    gap: 10px;
}

#adminTable .buttonContainer form {
    flex: 1;
}

.managementTitle {
    vertical-align: middle;
    width: 20%;
    padding-right: 10px;
    font-weight: bold;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

#buttonSave {
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 15px;
}

.button_full_width {
    flex: 1;
    padding: 10px;
    background-color: #607D8B;
    color: #fff;
    border: 1px solid RGB(150, 140, 150);
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    margin: 5px 0;
    text-align: center;
}

#roleSelect,
#blockStatus,
#categorySelect,
#brandSelect,
#sortSelect {
    width: 100%;
    padding: 8px 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    display: table-cell;
    background-color: #fff;
    cursor: pointer;
}

#usersListTable,
#categoriesListTable,
#brandsListTable,
#productsListTable,
#ordersListTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid RGB(150, 140, 150);
}

#usersListTable th,
#categoriesListTable th,
#brandsListTable th,
#productsListTable th,
#ordersListTable th {
    text-align: center;
    padding: 10px;
    background-color: #607D8B;
    color: white;
}

#usersListTable td,
#categoriesListTable td,
#brandsListTable td,
#productsListTable td,
#ordersListTable td {
    text-align: left;
    padding: 10px;
    vertical-align: middle;
    color: rgb(40, 40, 40);
}

#usersListTable .buttonContainer,
#categoriesListTable .buttonContainer,
#brandsListTable .buttonContainer,
#productsListTable .buttonContainer,
#ordersListTable .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#usersListTable .button_full_width,
#categoriesListTable .button_full_width,
#brandsListTable .button_full_width,
#productsListTable .button_full_width,
#ordersListTable .button_full_width {
    width: 100%;
    padding: 10px;
    background-color: #607D8B;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    margin: 5px 0;
    text-align: center;
}

#usersListTable .button_full_width:hover,
#categoriesListTable .button_full_width:hover,
#brandsListTable .button_full_width:hover,
#productsListTable .button_full_width:hover,
#ordersListTable .button_full_width:hover {
    background-color: #455A64;
}
/*///////////////////////////////////////////////////*/
/* Стили для сетки продуктов */
#searchAndSortInMain {
    margin: 20px 50px 0 30px;
    display: flex;
    align-items: center;
}

#searchInMain {
    width: 60%;
}
#sortSelect {
    flex: 0 0 30%;
    margin-left: 10px;
    align-self: flex-start;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.product-card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 260px;
}

.product-image {
    text-align: center;
}

.product-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-info {
    padding-top: 15px;
}

.product-info h3 {
    color: #455A64;
}

#product-price {
    color: #c88760;
}

.product-info p {
    color: #c2d2d8;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.product-detail-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.product-detail-img {
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.product-name-vertical {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Расстояние между наименованиями */
    align-items: flex-start;
    padding: 10px 0;
}

.product-name-vertical-item {
    padding: 5px 0;
    border-bottom: 1px solid rgba(150, 140, 150, 0.5); /* Разделительная линия между товарами */
    color: #455A64; /* Цвет текста для наименований */
}

.product-name-vertical-item:last-child {
    border-bottom: none; /* Убираем линию у последнего элемента */
}