<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product Management</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header th:insert="sections/header :: header"></header>

<div class="container">
    <h2>Product Management</h2>

    <form action="/admin/createProduct" method="GET">
        <button type="submit">Add New Product</button>
    </form>

    <table id="productsListTable">
        <thead>
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, iterStat : ${products}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.category.categoryName}"></td>
            <td class="buttonContainer">
                <form action="/admin/editProduct" method="GET">
                    <input type="hidden" name="productId" th:value="${product.id}"/>
                    <button type="submit" class="button_full_width">Edit</button>
                </form>
                <form action="/admin/deleteProduct" method="POST">
                    <input type="hidden" name="productId" th:value="${product.id}"/>
                    <button type="submit" class="button_full_width">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="sections/footer :: footer"></footer>

</body>
</html>